<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>visioner</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>cusreg</display-name>
    <servlet-name>cusreg</servlet-name>
    <servlet-class>com.cusreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cusreg</servlet-name>
    <url-pattern>/cusreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dbconnection</display-name>
    <servlet-name>Dbconnection</servlet-name>
    <servlet-class>com.Dbconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dbconnection</servlet-name>
    <url-pattern>/Dbconnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbConnection</display-name>
    <servlet-name>DbConnection</servlet-name>
    <servlet-class>com.DbConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbConnection</servlet-name>
    <url-pattern>/DbConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>com.Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>comreg</display-name>
    <servlet-name>comreg</servlet-name>
    <servlet-class>com.comreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>comreg</servlet-name>
    <url-pattern>/comreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>comlogin</display-name>
    <servlet-name>comlogin</servlet-name>
    <servlet-class>com.comlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>comlogin</servlet-name>
    <url-pattern>/comlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>complogin</display-name>
    <servlet-name>complogin</servlet-name>
    <servlet-class>com.complogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>complogin</servlet-name>
    <url-pattern>/complogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add</display-name>
    <servlet-name>add</servlet-name>
    <servlet-class>com.add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pay</display-name>
    <servlet-name>pay</servlet-name>
    <servlet-class>com.pay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pay</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upi</display-name>
    <servlet-name>upi</servlet-name>
    <servlet-class>com.upi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upi</servlet-name>
    <url-pattern>/upi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upis</display-name>
    <servlet-name>upis</servlet-name>
    <servlet-class>com.upis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upis</servlet-name>
    <url-pattern>/upis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>card</display-name>
    <servlet-name>card</servlet-name>
    <servlet-class>com.card</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>card</servlet-name>
    <url-pattern>/card</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>complent</display-name>
    <servlet-name>complent</servlet-name>
    <servlet-class>com.complent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>complent</servlet-name>
    <url-pattern>/complent</url-pattern>
  </servlet-mapping>
</web-app>